* {
    margin: 0;
    padding: 0;
    outline: none;
    transition: .2s;
    text-transform: capitalize;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

html {
    font-size: 90.5%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: #0c99ff;    
}

.header #logo img {
    width: 100px;
}

.navbar a {
    color: black;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    position: relative;
    padding: 1rem;
    background: #0c99ff;
    border-radius: 100px;
}

.navbar a:hover {
    background: #fff;
    color: #0c99ff;
}


nav {
    margin-left: 50rem;
}

/*One seccion*/

.main-home {
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-home .left-home {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inner-left-content h3 {
    font-size: 40px;
    color: black;
    font-weight: lighter;
    margin-bottom: 5px;
}

.inner-left-content h1 {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    margin-bottom: 10px;
}

.inner-left-content p {
    font-size: 1.5rem;
    margin-bottom: 25px;
    text-align: justify;
    color: #fff;
}

.inner-left-content a {
    padding: 1.4rem 3rem;
    background:#0c99ff;
    color: #fff;
    font-size: 1.5rem;
    border: #fff 1px solid;
    border-radius: 30px;
}

.inner-left-content a:hover {
    border-radius: 100px;
    background: #fff;
    color: #0c99ff;
}

.main-home .right-home {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-home .right-home img {
    width: 110%;
    margin-top: 50px;
}

.home {
    background-color: #0c99ff;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    background-position: right;
}

/*Seccion one*/

.who {
    width: 100%;
    height: 100vh;
    padding: 2rem 7%;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-negro-degradado-elementos-realistas_52683-76744.jpg?w=740&t=st=1690667411~exp=1690668011~hmac=628a061435bd5e36635a09a4ad1ec1f7a7d6709c585785331d69ca1031ad52c2);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.who h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.main-who {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inner-who {
    flex: 1 1 45rem;
}

.inner-who img {
    width: 100%;
}

.inner-who-content {
    padding: 0 2rem;
}

.inner-who-content h2 {
    font-size: 40px;
}

.inner-who-content p {
    font-size: 1.6rem;
    margin: 1rem 0;
    margin-bottom: 25px;
    color: #fff;
    text-align: justify;
}

.inner-who-content a {
    background: var(--headerclr);
    padding: 1.5rem 3rem;
    color: white;
    font-size: 1.5rem;
}

.inner-who-content a:hover {
    border-radius: 15px;
}

/*second seccion*/

.we-offer {
    padding: 2rem 7%;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?w=740&t=st=1690664636~exp=1690665236~hmac=8eb0efa99b6a350f260a4c54cca339df140367d1bd791d8c5bdeac44c285aa37);
    background-repeat: no-repeat;
    background-size: cover;
}

.we-offer h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.main-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.inner-offer {
    flex: 1 1 300px;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inner-offer:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #0c99ff;
    color: #fff;
    border-radius: 30px;
}

.inner-offer img {
    width: 50px;
}

.inner-offer h2 {
    font-size: 25px;
    margin: 1rem 0;
    color: #000;
}

.inner-offer p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.inner-offer a {
    padding: 1.5rem 3rem;
    border-radius: 15px;
    font-size: 1.5rem;
    color: #000;
    transition: .5s;
}


/*three seccion*/

.our-pricing {
    padding: 6rem 7%;
    background-image: url(img/mitchel-lensink-Ismnr6WSHCU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-pricing h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}

.main-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.inner-price {
    flex: 1 1 300px;
    padding: 5rem 1rem;
    background: white;
    text-align: center;
    border-radius: 15px;
}

.inner-price:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #0c99ff;
    color: #fff;
}

.inner-price h2 {
    font-size: 30px;
    color: black;
    margin-bottom: 25px;
}

.inner-price p {
    font-size: 1.5rem;
    margin-bottom: 25px;
    padding: 0 2rem;
}

.inner-price a {
    background: var(--mainclr);
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem 3rem;

}

.inner-price a:hover {
    border-radius: 15px;
}

.header.active {
    transition: all .9s ease-in-out;
}

.contact p {
    text-align: center;
    font-size: 2rem;
    padding-top: 100px;
    color: #000;
}
.contact p:hover {
    text-align: center;
    font-size: 2rem;
    padding-top: 100px;
    color: #0c99ff;
}

/*Aqui los datos responsives*/

@media (max-width:767px) {
    html {
        font-size: 55%;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -300%;
        right: 0;
        width: 30rem;
        height: 100vh;
        background: #0c99ff;
    }

    .navbar a {
        display: block;
        margin: 1rem;
        padding: 1rem;
        color: #000;
        font-size: 1.5rem;
    }

    .main-home .right-home {
        width: 100%;
        margin-top: 10;
    }

    .main-home .right-home img {
        width: 150%;
        margin-top: -300px;
    }

    .main-home .left-home {
        width: 100%;
        margin-top: -100px;
    }

    .home {
        background: none;
    }

    .who {
        margin-top: 200px;
    }

    .inner-who-content {
        margin-top: 20px;
    }

    .who h1 {
        margin-bottom: 15px;
    }

}