* {
    margin: 0;
    padding: 0;
    outline: none;
    transition: .2s;
    text-transform: capitalize;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    font-size: 90.5%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(img/neven-krcmarek-50HS3AzJsvQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    position: static;
}

.home {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    width: 100%;
    height: 100vh;
    background-position: right;
}

.header #logo img {
    width: 80px;
    filter: drop-shadow(1px 1px 1px #fff);
    transition: 5s;
    transform: scale(1.1);
}

.navbar a {
    color: black;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    position: relative;
    padding: 1rem;
    border-radius: 100px;
}

.navbar a:hover {
    background: transparent ;
    color: #0c99ff;
    filter: drop-shadow(10px 8px 10px  #0c99ff);
}


nav {
    margin-left: 50rem;
}

/*One seccion*/

.main-home .left-home {
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding: 1rem 7%;
    padding-bottom: 20%;
    display: flex;
    background-image: url(img/priscilla-du-preez-Wxhsx3X10OA-unsplash.jpg);
    background-size: cover;
}

.main-home .left-home h1{
    font-size: 50px;
    padding-top: 140px;
}

.main-home .left-home p{
    display: flex;
    font-size: 25px;
    justify-content: end;
    margin-left: 50%;
    margin-top: 10px;
    text-align: justify;
}

.main-home .left-home a{
    display: grid;
    place-items: center;
    width: 180px;
    height: 60px;
    margin-top: 20px;
    background-color: #325666;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    filter: drop-shadow(10px 8px 10px  #34576a);
    color: #000;
}

.main-home .left-home a:hover{
    background-color: #fff;
    color: #0c99ff;
}

/*Seccion one*/

.who {
    width: 100%;
    height: 100vh;
    padding: 1.5rem 7%;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?w=740&t=st=1690664636~exp=1690665236~hmac=8eb0efa99b6a350f260a4c54cca339df140367d1bd791d8c5bdeac44c285aa37);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.who h1 {
    color: #000;
    font-size: 40px;
    text-align: center;
}

.main-who {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.inner-who {
    flex: 1 1 45rem;
}

.inner-who img {
    width: 100%;
}

.inner-who-content {
    padding: 0 2rem;
}

.inner-who-content h2 {
    font-size: 40px;
}

.inner-who-content p {
    text-align: center;
    font-size: 1.1rem;
    margin: 1.3rem ;
    margin-bottom: 25px;
    color: #fff;
}


.inner-who-content a:hover {
    border-radius: 15px;
}

.circle1,
.circle2{
    display: flex;
    padding: 0;
    margin: 0;
    filter: drop-shadow(10px 8px 6px #ededef);
}

.cir1{
    width: 100%;
    height: 100%;
    background: #ededef;
    margin: 10px;
    padding: 1px;filter: drop-shadow(10px,10px);
}
.cir1:hover{
    width: 100%;
    height: 100%;
    background: #ededef;
    margin: 10px;
    border-radius: 20px;
    padding: 1px;
    filter: drop-shadow(5px 4px 6px  #0c99ff);
}

.cir1 p{
    font-size: 22px;
    color: #000;
}


.cir1:hover{
    background: #0c99ff;
    cursor: pointer;
    color: #fff;
}
.cir1:hover p{
    color: #fff;
    
}

/*second seccion*/

.we-offer {
    padding: 2rem 7%;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?w=740&t=st=1690664636~exp=1690665236~hmac=8eb0efa99b6a350f260a4c54cca339df140367d1bd791d8c5bdeac44c285aa37);
    background-repeat: no-repeat;
    background-size: cover;
}

.we-offer h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.main-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.inner-offer {
    flex: 1 1 300px;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inner-offer:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #0c99ff;
    color: #fff;
    border-radius: 30px;
}

.inner-offer img {
    width: 50px;
}

.inner-offer h2 {
    font-size: 25px;
    margin: 1rem 0;
    color: #000;
}

.inner-offer p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.inner-offer a {
    padding: 1.5rem 3rem;
    border-radius: 15px;
    font-size: 1.5rem;
    color: #000;
    transition: .5s;
}


/*three seccion*/

.our-pricing {
    padding: 6rem 7%;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?w=740&t=st=1690664636~exp=1690665236~hmac=8eb0efa99b6a350f260a4c54cca339df140367d1bd791d8c5bdeac44c285aa37);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-pricing h1 {
    color: #000;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
}

.main-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.inner-price {
    flex: 1 1 300px;
    padding: 5rem 1rem;
    background: white;
    text-align: center;
    border-radius: 15px;
}

.inner-price:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #0c99ff;
    color: #fff;
}

.inner-price h2 {
    font-size: 30px;
    color: black;
    margin-bottom: 25px;
}

.inner-price p {
    font-size: 1.5rem;
    margin-bottom: 25px;
    padding: 0 2rem;
}

.inner-price a {
    background: var(--mainclr);
    font-size: 1.5rem;
    color: white;
    padding: 1.5rem 3rem;

}

.inner-price a:hover {
    border-radius: 15px;
}

.header.active {
    transition: all .9s ease-in-out;
}

.contact p {
    text-align: center;
    font-size: 2rem;
    padding-top: 100px;
    color: #000;
}
.contact p:hover {
    text-align: center;
    font-size: 2rem;
    padding-top: 100px;
    color: #0c99ff;
}

/*Aqui los datos responsives*/

@media (max-width:767px) {
    html {
        font-size: 55%;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -300%;
        right: 0;
        width: 30rem;
        height: 100vh;
        background: #0c99ff;
    }

    .navbar a {
        display: block;
        margin: 1rem;
        padding: 1rem;
        color: #000;
        font-size: 1.5rem;
    }

    .main-home .right-home {
        width: 100%;
        margin-top: 10;
    }

    .main-home .right-home img {
        width: 150%;
        margin-top: -300px;
    }

    .main-home .left-home {
        width: 100%;
        margin-top: -100px;
    }

    .main-home .left-home p{
        color: white;
    }

    .main-home .left-home h1{
        color: white;
    }

    .home {
        background: none;
    }

    

    .inner-who-content {
        margin-top: 20px;
    }

    .who h1 {
        margin-bottom: 15px;
    }

}