* {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

  body{
    background-color: #c8cccf;
  }

/* AQUI CSS DE LA PAGINA PRINCIPAL */

.image10 {
  display: grid;
  place-items: center;
}


.image10 img {
  width:200px;
  height: 140px;
  filter: drop-shadow(1px 1px 1px #fff);
}



.image10 img:hover {
  width:200px;
  height: 140px;
  transform: scale(1.1);
  transition: 5s;
  filter: drop-shadow(1px 1px 1px #0c99ff);
  cursor: pointer;
  transform: rotate(360deg);
}


.cuadro1 {
  margin: 10px 10px 10px 10px;
  height: 259px;  
  border-radius: 20px;
  transition: 3s;
}


/*Estilos del formulario de Datos*/

.form-register{
  width: 400px;
  background: transparent;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  font-family:monospace;
}

.form-register h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.controls{
  width: 100%;
  background: #fffc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 22px;
  border: 1px solid #0c99ff;
}

.form-register .buttons {
  width: 100%;
  background: #fff;
  border: 1px solid #0c99ff;
  font-size: 20px;
}


.form-register .buttons:hover {
  width: 100%;
  color: #fff;
  cursor: pointer;
  background: #0c99ff;
  border-radius: 10px;
}

.cuadro1 button {
  width: 180px;
  height: 55px;
  background-color: #0c99ff;
  color:#000;
  font-size: 40px;
  margin-top: 5px;
  border-radius: 30px;
  font-size: 25px;
  border: #0c99ff solid;
}

.cuadro1 button:hover {
  background: #fff;
  color: #0c99ff;
  cursor: pointer;
  border: none;
}

.cuadro1 h1 {
  text-align:center;
}
.cuadro1 h2 {
  color: #fff;
  text-align:center;
}

.cuadro2 {
  background-image: url(img/sydney-sims-5_n3X6EfRNc-unsplash.jpg);
  background-size: cover;
  place-items: center;
  border-radius: 20px;
  height: 220px;
  margin: 10px 10px 10px 10px;
}

.cuadro2:hover{
  animation: shake 0.7s;
}

.cuadro2 p {
  color:#fff;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.cuadro2 h2 {
  color:#fff;
  font-size: 40px;
  padding-top: 1px;
  padding-left: 20px;
}

.cuadro2 button {
  width: 160px;
  height: 50px;
  background-color: #0c99ff;
  color:#000;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 30px;
  font-size: 25px;
  border: #0c99ff solid;
}

.cuadro2 button:hover {
  background: #fff;
  color: #0c99ff;
  cursor: pointer;
  border: none;
}

.cuadro3 {
  background-image: url(img/priscilla-du-preez-Wxhsx3X10OA-unsplash.jpg);
  opacity: 1;
  background-size: cover;
  place-items: center;
  border-radius: 20px;
  height: 220px;
  margin: 10px 10px 10px 10px;
}

.cuadro3:hover {
  animation: shake 0.6s;
}



.cuadro3 p {
  color:#fff;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.cuadro3 h2 {
  color:#fff;
  font-size: 40px;
  padding-top: 1px;
  padding-left: 20px;
}

.cuadro3 button {
  width: 160px;
  height: 50px;
  background-color: #0c99ff;
  color:#000;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 30px;
  font-size: 25px;
  border: #0c99ff solid;
}

.cuadro3 button:hover {
  background: #fff;
  color: #0c99ff;
  cursor: pointer;
  border: none;
}

.cuadro4 {
  background-image: url(./img/mitchel-lensink-Ismnr6WSHCU-unsplash.jpg);
  opacity: 1;
  background-size: cover;
  place-items: center;
  border-radius: 20px;
  height: 220px;
  margin: 10px 10px 10px 10px;
}

.cuadro4:hover {
  animation: shake 0.5s;
}

.cuadro4 p {
  color:#fff;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.cuadro4 h2 {
  color:#fff;
  font-size: 40px;
  padding-top: 1px;
  padding-left: 20px;
}

.cuadro4 button {
  width: 160px;
  height: 50px;
  background-color: #0c99ff;
  color:#000;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 30px;
  font-size: 25px;
  border: #0c99ff solid;
}

.cuadro4 button:hover {
  background: #fff;
  color: #0c99ff;
  cursor: pointer;
  border: none;
}

.find{
  display: grid;
  place-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.find button {
  width: 210px;
  height: 55px;
  color:#000;
  margin-top: 5px;
  border-radius: 30px;
  font-size: 20px;
  border: 1px solid #0c99ff;
} 
.find button:hover{
  width: 210px;
  height: 55px;
  background-color: #0c99ff;  
  color:#fff;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 30px;
  font-size: 21px;
  transition: 0.5s;
  border: none;
}


@keyframes shake{
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}